###############################################################################
# Delphi .gitignore (Curated)
###############################################################################

*.res
*.tlb
*.ddp
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx
*.cfg
*.hpp
*Resource.rc
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk
*.user
*.dsv
__history/
__recovery/
*.~*
*.save
*.cbk
*.stat
Release/
Debug/
DCU/
Linux64/
OSX32/
OSX64/
Win32/
Win64/
Android/
Android32/
Android64/
iOSDevice32/
iOSDevice64/
iOSSimARM64/
iOSSimulator/
Thumbs.db
desktop.ini
TMSWeb/
node_modules/
.hg/
.svn/
modules/
.DS_Store
~$*.*
_Release-Binaries
Build/bin/
GPATH
GRTAGS
GTAGS
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json
!.vscode/launch.json
*.fbpInf
*.fbl8
*.fbpbrk
*.fb8lck
.claude/settings.local.json
.claude/worktrees/

build/
.codegraph/
